---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="text-center">
    <h1 class="">SurfBored</h1>  
    <p><b>Error 404:</b> Page Not Found</p>
    <a href="/">Back to Home</a>
  </section>
</Layout>
