---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="my-20">
    <header class="grid w-full text-center mx-auto gap-4 p-6 mb-10 ">
      <h1 class="">SurfBored</h1>  
      <h4 class="text-text">
        <b>Error 404</b>: Page Not Found
      </h4>
      <a href="/">Back to Home</a>
    </header>
  </main>
</Layout>
