---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="pt-40">
    <div class="text-center">
      <h1 class="text-5xl md:text-[10em]">SurfBored</h1>
      <h2><b class="text-primary dark:text-darkprimary">Error 404:</b> Page Not Found</h2>
    </div>
    <acticle class="text-center"> 
      <a href="/">Back to Home</a>
    </acticle>
  </main>
</Layout>
