---
import Layout from '../layouts/Layout.astro';
---
  
<Layout>
  <section class="h-screen flex flex-col justify-center text-center gap-10">
    <div class="flex flex-col items-center">
      <h1 class="text-5xl md:text-[10em]">SurfBored</h1>
      <div class="flex gap-1 items-center">
        <p class="text-sm md:text-4xl text-text2 max-w-fit inline-block animate-typing overflow-hidden whitespace-nowrap w-fit">
          Surf some boards and find cool sh*t to do.
        </p>
        <div class="animate-blink bg-text2  dark:bg-darktext2  h-4 w-1 md:h-8 md:w-2"></div>
      </div>
    </div>
    <p>Summer 2025</p>
  </section>

  <section class="py-0 pb-20 flex w-full justify-center drop-shadow-grey dark:drop-shadow-black">
    <div class="screenshot translate-y-[25px] bg-[url(/images/light_screenshot_01.png)] dark:bg-[url(/images/screenshot_01.png)]"></div>
    <div class="screenshot translate-y-[-25px] bg-[url(/images/light_screenshot_00.png)] dark:bg-[url(/images/screenshot_00.png)]"></div>
    <div class="screenshot translate-y-[25px] bg-[url(/images/light_screenshot_02.png)] dark:bg-[url(/images/screenshot_02.png)]"></div>
  </section>

  <main>
    <section>
      <h1>What is SurfBored? 🤔</h1>
      <p>SurfBored is a social media app built for people who <i class="italic">don't</i> use social media.</p>
      <p>The goal of SurfBored is to help you unplug. Discover new activities so you can finally put down your phone and create real memories.</p>
    </section>
    <section>
      <h1>Why use SurfBored? 🤨</h1>
      <p>Not sure what to do this weekend? Need ideas for a date? Wondering what to cook? SurfBored has something for everyone.</p>
      <p>Looking for something to do today? Create boards with your favorite activities! Or better yet, explore someone else's board to discover something new.</p>
      <p>Can't decide? SurfBored’s shuffle feature will randomly pick activities, so you don’t have to.</p>
      <p>SurfBored is the app where you can keep all your favorite activities in one place. Save and share other people's favorite activities with ease.</p>
      <p>Search tags to find new activities you’ll love!</p>
    </section>
    <section>
      <h1>How does it work? 🧐</h1>
      <p>Create and share activities by making a post!</p>
      <p>Organize and share collections of your favorite activities with boards.</p>
      <p>Found an activity you like? Add it to one of your boards. Love a board? Like it and add it to your library of boards.</p>
    </section>
    <section>
      <h1>When is it avaliable? 🤓</h1>
      <p>SurfBored will open a waitlist this coming Winter (2024).</p>
      <p>Stay updated by filling out the <a class="link" href="https://docs.google.com/forms/d/e/1FAIpQLSejiIuK1d5chok5KOmYGOqwNz1zmQuD4C0xUmG84In8S7ke4g/viewform?usp=sf_link" target="_blank">form</a> to get notified!</p>
      <p>The first 1,000 members who join will get early access with codes in April 2025.</p>
      <p>v0.0.1 is set to release to the public in June 2025.</p>
    </section>
  </main>
</Layout>
