---
import Layout from "../layouts/Layout.astro";
import { roadmap } from '../utils/data.json';
---

<Layout>
  <main class="pt-40">
    <div class="text-center">
      <h1 class="text-5xl md:text-[10em]">SurfBored</h1>
      <h2>Our Road Map:</h2>
    </div>
    <acticle>
      <p>This page allows us to share our progess! We are so excited to show off our hard work.</p>
    </acticle>
    <acticle>
      <h1 class="text-3xl md:text-4xl">Status: <span class="text-3xl md:text-4xl text-primary dark:text-darkprimary">On Time</span></h1>
    </acticle>
    <acticle>
      {roadmap.map((item: any) =>
        <div>
          <div class="flex items-center gap-4">
            <h1 class="text-3xl md:text-4xl">{item.date}</h1>
            <span>{item.complete ? '✅' : '❌'}</span>
          </div>
          <p>{item.goal}</p>
        </div>
      )}
    </acticle>
  </main>
</Layout>