---
import Layout from '../layouts/Layout.astro';
import Tag from '../components/Tag.astro';
import { Icon } from 'astro-icon';
import { techstack } from '../utils/data.json';
---
  
<Layout>
  <main class="pt-40">
    <div class="text-center">
      <h1 class="text-5xl md:text-[10em]">SurfBored</h1>
      <p class="text-sm md:text-4xl">Under the hood:</p>
    </div>
    <section class="text-center">
      <h1>Tech Stack</h1>
      <div class="flex flex-wrap justify-center gap-4">
        {techstack.map((skill: any) =>
          <Tag>
            <div class="w-10"><Icon name={skill.icon}/></div>
            <p class="pr-2 text-xl font-semibold">{skill.title}</p>
          </Tag>
        )}
      </div>
    </section>

    <section>
      <h1>Frontend 🔥</h1>
      <p>The entire frontend is written in Dart using the Flutter framework.</p>
      <p>Flutter allows us to effectively create a cross-platform application, bringing our app to users faster!</p>
    </section>
    
    <section>
      <h1>Handling Data and State 💾</h1>
      <p>
        To improve the end-user experience, the app uses Cubits to handle state alongside backend processes.
      </p>
    
      <p>Basic Structure: UI ⇆ Cubit ⇆ Repository</p>
      <ul>
        <li>UI: the user's interface</li>
        <li>Cubit: manages and emits state changes</li>
        <li>Repository: handles API requests and responses</li>
      </ul>
    </section>
    
    <section>
      <h1>Backend 🔒</h1>
      <p>
        For the backend, we chose Firebase to handle authentication, storage, and cloud functions, enabling us to ship our app quickly.
      </p>
      <p>
        For full-text search, we integrated Algolia, which pairs seamlessly with our Firebase data.
      </p>
    </section>
    
  </main>
</Layout>
