---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '/src/styles/global.css';
const currentPath = Astro.url.pathname;
---
<!doctype html>
<html lang="en">
  <Head title='SurfBored' description='Surf some boards and find cool sh*t to do.'/>
	<body>
    <Header path={currentPath}/>
    <slot/>
    <Footer title="SurfBored"/>
	</body>
</html>